@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Phudu:wght@300..900&display=swap');

:root{
    --primary-color:rgb(77, 55, 26);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    background-color: antiquewhite;

}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 50px ;
    border-radius: 12px;               

}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: rgb(209, 201, 178);
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}
 
form button:hover{
    background: var(--primary-color);
}

.paragrafo-resultado, .bad {
    background: #5ff391;
    padding: 10px 20px;
}

.bad {
    background: rgb(169, 48, 70);
}
